
<form action="/">
  <div class="search">
    <div class="box1">
      <h1>Search for GIFS</h1>
      <button type="submit">Search</button>
      <input type="text" name="term">
    </div>


  <div class="fouroh">
<img src='https://cdn.dribbble.com/users/497127/screenshots/2309639/404-planet.gif' alt="404" height="400px" width="600px">
  </div>
    </div>



</form>
